.embalagem{
    transform: translate(-50%,-06%);
   grid-template-columns: repeat(1, 1fr);
    gap: 20px;

    }



.botao{
    position:absolute;
    top:104%;
    margin-bottom:10px;


}

.pe{
    height:20px;
    width:50%;

    position:absolute;
    top:464%;
    margin-bottom:10px;

}

@media screen and (min-width:950px) {


    .embalagem{
        transform: translate(-50%,-36%);
       grid-template-columns: repeat(4, 1fr);
        gap: 20px;

    }

    .botao{

        position:absolute;
        top:113%;
        margin-bottom:10px;
    }

    .pe{
        height:20px;
        width:50%;
        color:#8DC1F1;
        position:absolute;
        top:135%;
        margin-bottom:10px;
    }



}