*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{

    width: 1000px%;

}
body{

    background-color:#8DC1F1;
    margin: 50px;

}
h1{

    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif


}
form{

    width:60%;
    height:60%;

}

.embalagem{

    grid-template-columns: repeat(1, 1fr);
    position: absolute;
    transform: translate(-50%,-10%);
    top: 50%;
    left: 50%;
    display: grid;
    place-items: center;
    gap: 45px;
}


footer div {
    align-items:center;
    text-align:center;


}

.pe{

    position: absolute;
    left: 31%;
    top: 120%;
    padding: 0 0 33px 0;


}
.produto{
    margin-top:25px;
    mardin-left:9px;
    height: 300px;
    width:  250px;
    background-color:#ffffff;
    box-shadow: 0 0 25px rgba(17,1,68,0.08);
    border-radius: 8px;
    position:relative;
    cursor: pointer;


}

.produto img {




}

input[type='checkbox']{

    -webkit-appearance:none;
    position:relative;
    width 100%;
    cursor: pointer;


}

input[type='checkbox']:after {

    position:absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f111";
    font-size: 18px;
    color: #fdcb06;
    top: 10px;
    color:red;


}

input[type='checkbox']:checked:after {
    font-weight: 900;
    content: "\f058";
    color: #fdcb06;

}


input[type='submit'] {

    background: #006699;
    color: #ffffff;
    width:120px;
    height:50px;



}


.produto ig {

    margin-top:25px;
    position: absolute;
    margin:auto;
    left:0;
    right:0;
    top:0;
    botton:0;
    cursor:pointer;


}

@media screen and (min-width: 950px) {

    .embalagem{
        transform: translate(-50%,-34%);
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

    }

    .produto{

        height: 300px;
        width:  250px;


    }
    input[type="checkbox"]:after {

        font-size: 24px;

    }


    .botao{
        margin-top:30%;
        margin-left:310%;
        align-items:rght;
    }



}