<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>




    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

<!--    fonte Abyssinica SIL-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&display=swap" rel="stylesheet">
</head>
<body>


 <div class="header">
    <h1>Por quais destas cidades você se aventura-rá  pela sua jornada ? </h1>
   <form method="post">
    <div class="embalagem">


        <div class="produto text-center">
                    <input type="checkbox" id="kanto" value="0">
                    <label for="kanto">   -Kanto
                    
                    <img class="city" src="static/img/kanto.png">
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>

        <div class="produto">
                    <input type="checkbox" id="johto">
                    <label for="johto">   -Johto

                    <img class="city" src="static/img/johto.png">
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>

        <div class="produto">
                    <input type="checkbox" id="hoen">
                    <label for="hoen">   -Hoenn

                    <img class="city" src="static/img/hooeh.png">
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>

        <div class="produto">
                    <input type="checkbox" id="sino">
                    <label for="sino">   -Sinnoh

                    <img class="city" src="static/img/sinnoh.png">
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>

        <div class="produto">
                    <input type="checkbox" id="unova">
                    <label for="unova">   -Unova

                    <img class="city" src="static/img/unova.png">
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>
        <div class="produto">
                    <input type="checkbox" id="kalos">
                    <label for="kalos">   -Kalos

                    <img class="city" src="static/img/killoh.png">
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>
        <div class="produto">
                    <input type="checkbox" id="alola">
                    <label for="alola">   -Alola

                    <img class="city" src="static/img/alola.png">
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>
        <div class="produto">
                    <input type="checkbox" id="galar>
                    <label for=galar">   -Kanto

                    <img class="city" src="static/img/galar.png">
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>

        <div class="botao">
        <input type="submit" value="Next">
        </div>

    </div>
     </form>

     </div>

<footer>
    <div class="pe">

            .
<!--          <p>Copyright © 2022 <a href="#">SidGaming</a> Company. All rights reserved.</p>-->

        </div>

</footer>
</body>
</html>