<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
     <!--    BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=
    Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/pokemonchoice.css">




<!--    fonte Abyssinica SIL-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&display=swap" rel="stylesheet">
</head>
<body style="background-color::#343353;">


<!--Navbar1-->


 <div class="collapse show" id="navbarToggleExternalContent" style="">
      <div class="bg- p-4">
        <h5 class="text-black h4">{{user}} </h5>
        <span class="text-muted"></span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div>

          <a class="text-black h5" href="{{url_for('logout')}}">Logout</a>

        </div>
      </div>
    </nav>




 <div class="header">
    <h1>{{user.title()}},escolha o seu pokemon incial. </h1>
   <form method="post" action="{{url_for('jornada')}}">
    <div class="embalagem">


        <div class="produto pokemon">
                    <input type="radio" name="pokemon" id="kanto" value={{inicial_nome[0]}}>
                    <label class="text-white" for="kanto">   -{{inicial_nome[0]}}

                    <img class="city" src={{ inicial_img[0] }}>
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>

        <div class="produto pokemon">
                    <input type="radio" name="pokemon" id="johto" value={{inicial_nome[1]}}>
                    <label class="text-white"   for="johto">   -{{inicial_nome[1]}}

                    <img class="city" src={{ inicial_img[1] }}>
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>

        <div class="produto pokemon">
                    <input type="radio" name="pokemon" id="hoen" value={{inicial_nome[2]}}>
                    <label class="text-white" for="hoen">   {{inicial_nome[2]}}
                    <img class="city" src={{ inicial_img[2] }}>
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>





    </div>

       <div class="botao2">
        <input type="submit" value="Next">
        </div>
     </form>

    </div>

<footer>
    <div class="pe">

          .
<!--          <p>Copyright © 2022 <a href="#">SidGaming</a> Company. All rights reserved.</p>-->

        </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>