<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>




    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/pokemonchoice.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

<!--    fonte Abyssinica SIL-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&display=swap" rel="stylesheet">
</head>
<body>


 <div class="header">
    <h1>Escolha o seu pokemon incial. </h1>
   <form method="post">
    <div class="embalagem">


        <div class="produto text-center">
                    <input type="radio" name="city" id="kanto" value="0">
                    <label for="kanto">   -Kanto

                    <img class="city" src={{ imgs[0] }}>
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>

        <div class="produto">
                    <input type="radio" name="city" id="johto">
                    <label for="johto">   -Johto

                    <img class="city" src={{ imgs[1] }}>
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>

        <div class="produto">
                    <input type="radio" name="city" id="hoen">
                    <label for="hoen">   -Hoenn
                    <img class="city" src={{ imgs[2] }}>
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>





    </div>

       <div class="botao">
        <input type="submit" value="Next">
        </div>
     </form>

    </div>

<footer>
    <div class="pe">

            .
<!--          <p>Copyright © 2022 <a href="#">SidGaming</a> Company. All rights reserved.</p>-->

        </div>

</footer>
</body>
</html>