<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <title></title>






    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

 <!--    BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=
    Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">


<!--    fonte Abyssinica SIL-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link rel="stylesheet" href="static/css/style.css">
     <link rel="stylesheet" href="static/css/start.css">

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&display=swap" rel="stylesheet">
</head>





<body>

<!--navbaaarr-->



<!--Endnavbar-->
 <div class="header">
    <h1>{{user.title()}} ,por qual destas  cidades voce inciou sua jornada ? </h1>
      <a  class="sair" href="{{url_for('logout')}}"><h4>Sair</h4> </a>


   <form method="post" >
    <div class="embalagem">


        <div class="produto text-center">
                    <input type="radio" name="city" id="kanto" value='0' >
                    <label for="kanto">   -Kanto

                    <img class="city" src="static/img/kanto.png">
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>

        <div class="produto text-center">
                    <input type="radio" name="city" id="johto" value='1'>
                    <label for="johto">   -Johto

                    <img class="city" src="static/img/johto.png">
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>

        <div class="produto text-center">
                    <input type="radio" name="city" id="hoen" value='2'>
                    <label for="hoen">   -Hoenn
                    <img class="city" src="static/img/hooeh.png">
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>

        <div class="produto text-center">
                    <input type="radio" name="city" id="sino" value='3'>
                    <label for="sino">   -Sinnoh

                    <img class="city" src="static/img/sinnoh.png">
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>

        <div class="produto text-center">
                    <input type="radio"  name="city" id="unova" value='4'>
                    <label for="unova">   -Unova

                    <img class="city" src="static/img/unova.png">
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>
        <div class="produto text-center">
                    <input type="radio" name="city" id="kalos" value='5'>
                    <label for="kalos">   -Kalos

                    <img class="city" src="static/img/killoh.png">
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>


        <div class="produto text-center">
                    <input type="radio" name="city" id="alola" value='6'>
                    <label for="alola">   -Alola

                    <img class="city" src="static/img/alola.png">
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>
        <div class="produto text-center" style="margin-botton:50%;">
                    <input type="radio" name="city" id="galar" value='7'>
                    <label for="galar">   -Galar

                    <img class="city" src="static/img/galar.png">
                    </label>
<!--                    <img src="static/img/kanto.jpg" style="width:20%;">-->
        </div>

        <div class="botao">
        <input type="submit" value="Next">
        </div>

    </div>
     </form>

     </div>

<footer>
    <div class="pe">
    .
        </div>

</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>